<div class="catalog-container">
    <div class="flex-container">
      <label for="categoriaInput">Catálogo de Filmes</label>
      <div class="search-container">
        <input id="categoriaInput" type="text" [(ngModel)]='categoriaSelecionada' />
        <button (click)="filtrarFilmes()">Pesquisar</button>
      </div>
    </div>
  
    <div class="filme-card" *ngFor="let filme of filmesFiltrados">
      <div>
        <img [src]="filme.imagem" alt="{{ filme.nome }} Imagem" id="capaFilme" class="imagem-filme">
        <div class="filme-info">
          <h2>{{ filme.nome }}</h2>
          <p>{{ filme.descricao }}</p>
          <p class="categoria">Categoria: {{ filme.categoria }}</p>
        </div>
      </div>
    </div>
  </div>
  